/** @format */

.item-card-in-add-new-sale {
	border: 2px solid #555;
	color: #555;
	font-weight: 600;
	width: 150px;
	border-radius: 10px;
	padding: 10px;
	font-size: 1.1rem;
}
.item-card-in-add-new-sale:hover {
	font-weight: 700;
	cursor: pointer;
	border: 2px solid black;
	color: black;
}

.items-list-in-add-new-sale ul {
	display: flex;
	/* flex-direction: column; */
	gap: 0.5rem;
	flex-wrap: wrap;
}
